 
<footer class="bd-footer py-5 mt-5 bg-light">
  <section class="container py-5">
      <section class="row">
          <article class="col-lg-3 mb-3">
              <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none"><span class="titrefooter">Bibliothèque</span></a>
              <ul class="list-unstyled small text-muted">
                  <li class="mb-2">Créé et designé par des élèves de L3 <a href="https://www.univ-tlse2.fr/accueil/formation-insertion/decouvrir-nos-formations/mention-mathematiques-et-informatique-appliquees-aux-sciences-humaines-et-sociales-miashs-1">MIASHS</a></li>
                  <li class="mb-2">Version 1.0.0</li>
              </ul>
          </article>
      </section>
  </section>
</footer>