<link href="../assets/css/navbar.css" rel="stylesheet">

<header>
    <div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light" id="mainNavbar">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mx-auto">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 page-scroll">
									<a class="nav-link  page-scroll " href="../pageCatalogue">Catalogue</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 page-scroll">
									<a class="nav-link  page-scroll " href="/monCompte">Compte</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 page-scroll">
									<a class="nav-link  page-scroll " href="/auth/logout">Se deconnecter</a>
								</li>
							</ul>
						</div>
					</nav>		
				</div>
			</div>
		</div>
	</div>

</header>